<div class="container d-flex justify-content-center align-items-center">
    <div class="border alert-danger">
        <div id="error-div" class="currency-container">
            <div class="text-center">
                <i class="material-icons" style="font-size:48px;color:rgb(214, 30, 30)">warning</i>
                <h2 class="text-center" style="margin-bottom: 40px;">Ooops!</h2>
                <p class="text-center" style="margin: 0px;">Something went wrong, an error has occurred</p>
                <p class="text-center" style="margin: 0px;">Try <a href="/" class="alert-link">reloading</a> the page.</p>
            </div>
        </div>
    </div>
</div>